body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #2c3e50;
    color: white;
    padding: 10px;
    text-align: center;
}

#map {
    height: calc(100vh - 70px);
}

.info-box {
    position: absolute;
    top: 120px;
    left: 10px;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1000;
    max-width: 300px;
}